{% load static %}
<header class="p-3 mb-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">
        <img src="{% static 'assets/img/hamburguer.png' %}" alt="Logo" height="45px" width="45px" >
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 fw-bold fs-5 link-danger text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home</font></font></a></li>
          <li><a href="#" class="nav-link px-2 fw-bold fs-5 link-danger text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cardápio</font></font></a></li>
          <li><a href="#" class="nav-link px-2 fw-bold fs-5 link-danger text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre Nos</font></font></a></li>
          <li><a href="#" class="nav-link px-2 fw-bold fs-5 link-danger text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Peça Aqui</font></font></a></li>
        </ul> 
        <form class="d-flex col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Ex: X-Egg" aria-label="Search">
          <button class="btn btn-danger" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
</header>