{% load static %}
<footer class=" justify-content-center py-2 my-5">
    <div class="d-flex justify-content-center">
        <div class="px-4 py-1">
            <a href="#" class="icon brands fa-facebook-f"><span class="label"></span><img src="{% static 'assets/img/icon2.png' %}" alt="Facebook" width="40px" height="40px"></a>
        </div>
        <div class="px-4 py-1">
            <a href="#" class="icon brands fa-twitter"><span class="label"></span><img src="{% static 'assets/img/icon1.png' %}" alt="Twitter" width="40px" height="40px"></a>
        </div>
        <div class="px-4 py-1">
            <a href="#" class="icon brands fa-instagram"><span class="label"></span><img src="{% static 'assets/img/icon5.png' %}" alt="Instagram" width="40px" height="40px"></a>
        </div>
    </div>    
    <div class="d-block">
        <h6 class="fw-light">© 2024, Lanchonete RHM Lanches, Inc. Todos os direitos reservados.</h6>
    </div>
    
</footer>